[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "extras/vim-plug"]
	path = extras/vim-plug
	url = git@github.com:junegunn/vim-plug
[submodule "sbt-extras"]
	path = sbt-extras
	url = https://github.com/paulp/sbt-extras
