.config/nvim/plugged
.config/nvim/autoload/plug.vim
.xmonad/xmonad.errors
.xmonad/xmonad.o
.xmonad/xmonad.hi
.xmonad/xmonad-x86_64-linux
.config/nvim/.init.vim-rplugin~
.sbt/0.13/plugins/project/
.sbt/0.13/plugins/target/
